@font-face {
    font-family: "backPacking";
    font-weight: normal;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/backPacking/backPacking.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/backPacking/backPacking.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/websfont/backPacking/backPacking.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/websfont/backPacking/backPacking.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/websfont/backPacking/backPacking.ttf") format("truetype");
    font-display: swap;
}
.backPacking {
    font-family: "backPacking";
}